:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
}

.animate-bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-4px); }
}
